:root {
  /* text & bg colors */
  --color-bg1: rgba(19, 19, 19, 1);
  --color-bg2: rgb(242, 241, 218);



  --font-color: black;

  /* text fonts */

}

* {
  margin: 0;
  padding: 0;
  font-size: 62,5%;
  scroll-behavior: smooth;
}

.layout {
  margin-left: 5rem;
  background-color: var(--color-bg2);
}

.navbar {
  position: fixed;
  height: 100vh;
  background-color: var(--color-bg1);
  width: 5rem;
  font-family: 'Castoro Titling', sans-serif;  

}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  margin: auto;
}

.navbar ul {
  list-style: none;
  color: white;
  background-color: var(--color-bg1);
}

.rotate {
  transform: rotate(-90deg);
  display: flex;
}

.navbar li {
  color: rgb(26, 26, 100);
  color: rgb(255, 255, 255);
  background-color: var(--color-bg1);

}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: var(--color-bg1);
  font-size: 0.8rem;
  font-style: italic;
}

.navbar li:hover{
  transform: scale(1.1);
  text-decoration: line-through;
  transition: 0.4s;
  color: var(--color-bg1);

}

.Alink {
  padding: 0 10px;
}

.icon {
  width: 3vw;
  height: 3vw;
  margin: 20px 0;
  border: 1px;
  border-radius: 50px;
  background-color: rgb(67, 68, 66);
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

header {
  height: 90vh;
  display: flex;
  padding: 2rem;
}

.profile {
  width: 40%;
  display: flex;
}

.main1 {
  background-color: var(--color-bg1);
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  padding: 2rem;
}

.Aboutme h2 {
  color: #E3E5A3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  margin: 0;

}

.Aboutme .about {
  color: rgba(230, 230, 230, 0.10);
  font-size: 15rem;
}

.main1 p {
  color: #FFF;
  font-family: Roboto;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  position: absolute;
  width: 50%;
  margin: 20vh 40vw;
}

.main2{
  width: 20vw;
}

.contactme{
  border-right: var(--color-bg1) .1rem solid;
  padding: 4rem;
}

.contactme h1{
  color: var(--color-bg1);
  font-family: 'Castoro Titling', sans-serif;
  font-variant: small-caps;
  font-size: 10rem;
  font-weight: 900;
  margin: 0 0 -3rem 0;
}

.contactme h2{
  font-family: 'Castoro Titling', sans-serif;
  font-size: 2rem;
  font-style: italic;
  line-height: 2rem;
  margin: 2vh 0;
}

.contactme p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  font-weight: 100;

}